apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cole.fullname" . }}
  labels:
    {{- include "cole.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "cole.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cole.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cole.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          args:
            - server
            - --log.level={{ .Values.flags.log.level }}
            {{- if .Values.flags.kubeconfig }}
            - --kubeconfig={{ .Values.flags.kubeconfig }}
            {{- end }}
            - --grafana.namespace={{ .Values.flags.grafana.namespace }}
            - --grafana.podLabelselector={{- include "cole.grafanaPodLabelselector" . | trimSuffix "," }}
            - --grafana.log.format={{ .Values.flags.grafana.log.format }}
            - --grafana.containerName={{ .Values.flags.grafana.containerName }}
            - --metrics.includeUname={{ .Values.flags.metrics.includeUname }}
            {{- if .Values.grafanaApiSecret.enabled }}
            - --grafana.apiConfigFile=/tmp/grafana/grafana-api.yaml
            {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9754
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /-/health
              port: http
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.grafanaApiSecret.enabled }}
          volumeMounts:
            - mountPath: /tmp/grafana
              name: grafana-api
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.grafanaApiSecret.enabled }}
      volumes:
        - name: grafana-api
          secret: 
            secretName: {{ include "cole.fullname" . }}-grafana-api
      {{- end }}
